<footer>
    {{#match pages ">" "1"}}
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="previous newer-posts i18n-target" href="{{page_url prev}}" data-i18n="[html]theme:pagination.newer">Newer content</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
        <span class="page">Page {{page}} of {{pages}}</span>

        {{#if next}}
        <a class="next older-posts i18n-target" href="{{page_url next}}" data-i18n="[html]theme:pagination.older">Older content</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
    </nav>
    {{/match}}
</footer>