<footer>
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="previous newer-posts" href="{{page_url prev}}">Neuere Inhalte</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
        <span class="page">Seite {{page}} von {{pages}}</span>
        {{#if next}}
        <a class="next older-posts" href="{{page_url next}}">&Auml;ltere Inhalte</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
    </nav>
</footer>