<footer>
    {{#match pages ">" "1"}}
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="previous newer-posts i18n-target" href="{{page_url prev}}" data-i18n="[html]theme:pagination.newer">Newer content</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
        <span class="page i18n-target i18n-options" data-i18n="[html]theme:pagination.x_of_x" i18n-options='{{#json_pairs}}page {{page}} pages {{pages}}{{/json_pairs}}'></span>

        {{#if next}}
        <a class="next older-posts i18n-target" href="{{page_url next}}" data-i18n="[html]theme:pagination.older">Older content</a>
        {{else}}
        <div class="spacer"></div>
        {{/if}}
    </nav>
    {{/match}}
</footer>