{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="gh-main" class="gh-outer">

    {{!-- Author info --}}
    {{#author}}
    <header class="author-header">
        {{#if profile_image}}
            <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
        {{/if}}
        <h1><a href="{{url}}">{{name}}</a></h1>
        {{#if bio}}
            <p class="content">{{bio}}</p>
        {{/if}}
        <div class="gh-author-meta">
            <ul>
                {{#if location}}
                <li class="author-location icon fa-map-pin">{{location}}</li>
                {{/if}}
                {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}&nbsp;&nbsp;<span class="bull">&bull;</span>
                {{> "components/social-links"}}
            </ul>
        </div>
    </header>
    {{/author}}

    {{!-- Posts --}}
    {{> "components/post-list" feed="archive" postFeedStyle=@custom.post_feed_style showTitle=false}}
</main>
